.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  max-height: 100%;
  margin: 50px;
  font-weight: 100%;
  margin-bottom: 100%;
}
